<div class="card">
  <div class="card-content">
    <a class="card-title" href="/tweet/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="title{{ title }}" class="">{{ Note.title}}</a>
    <span class="body">{{ createdAt }}</span>
    <span class="/user/">{{ Note.author }}</span>
  </div>
</div>
